:root {
  --main-bg-color: rgb(228, 163, 156);
  --toast-color: rgb(214, 216, 79);
}
.App {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.introduction{
  font-family:Lucida;
}

.App-header {
  /* background-color:var(--main-bg-color); */
  width: 100%;
  height: 10vh;
  font-family: fantasy;
  font-size: x-large;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section{
  position:relative;
  width: 100%;
  height: 100vh;
  background-color:var(--main-bg-color);
  background-position: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* border-right: 1px solid black; */
}

section{
  background-color: var(--main-bg-color);
}

.header {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: var(--main-bg-color);
  background-image: url('https://grace-and-blooms.s3-us-west-1.amazonaws.com/graceandbloomsco_logo.jpg');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font: white ;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

/* all buttons under the nav */
nav button{
  background-color: white;
  height: 50px;
  width: 100px;
  align-items: center;
  font-family:'Lucida Sans';
  font-style: italic;
}

.item-list {
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: var(--main-bg-color);
  /* background-image: url("https://m.media-amazon.com/images/I/71Fvd7Cx4CL._AC_SL1134_.jpg"); */
  background-repeat: no-repeat;
  background-size:cover;
}

.individual-item{
  width: 200px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: normal;
  background-color: white;
  /* padding: 10px; */
  margin: 10px;
}

.individual-item img {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 90 / 99;
}

.mini-pic:hover {
  transform: scale(1.5);
}

.size-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid transparent;
  align-items: center;
  
}

.size-price:hover {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
}

.size-price-listed{
  display: flex;
  flex-direction: row;
}

.size-price button {
  float: right;
}

.auth{
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

#success {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(231, 180, 13); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  top: 50%;
  left: 50%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#success.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin-top: 10%;
  -webkit-animation: fadein 1.0s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  top: 50%;
  left: 50%;
}

#login-required {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(214, 216, 79); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  margin: 0 auto;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#login-required.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  -webkit-animation: fadein 1.0s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
  margin: 0 auto;
}

#choose-size {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(243, 240, 71); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%) */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#choose-size.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin-top: 10%;
  -webkit-animation: fadein 1.0s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%) */
}

#added-image {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(243, 240, 71); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  top: 50%;
  left: 50%;/* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#added-image.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin-top: 10%;
  -webkit-animation: fadein 1.0s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
  top: 50%;
  left: 50%;
}

#register-toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(243, 240, 71); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  /* left: 50%; /* Center the snackbar 
  top: 100px; 30px from the bottom */
  top: 50%;
  left: 50%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#register-toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin-top: 10%;
  -webkit-animation: fadein 1.0s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
  top: 50%;
  left: 50%;
}

.edit-item-section{
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  width: auto;
}

.edit-item-main-img{
  width: 400px;
  height: 300px;
}

.mini-pic{
  width: 200px;
  height: auto;
}

.main-img-div-edit-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-long{
  width: 200px;
  height: 15px;
}

.input-description{
  width: 80vw;
  height: 40px;
  align-self: center;
}

.input-short{
  width: 100px;
  height: 15px;
}

.submit-button{
  padding: 10px 24px;
  font-size: 16px;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px;
}

.input-auth {
  width: 100%;
  height: 100vh;
  font-size: auto !important;
  display: flex;
  flex-direction: column;
}

.home-section p{
  font-family:'Lucida Sans';
  background-color: var(--main-bg-color);
}

#expend {
  display:none;  
}

#expend + .smalldesc {
  max-height:0px;
  overflow:hidden;
  transition:all .3s ease;
}

#expend:checked + .smalldesc {
  max-height:250px;  
}

.home-section label {
  color:rgb(63, 63, 245);
  text-decoration:underline;
  cursor:pointer;
  display: flex;
  left: 50%;
  right: 50%;
  
}

/* label:hover {
  text-decoration:none;  
} */

/* MOBILE PHONES */
@media
  (min-width: 320px) {
  .App{
    position: fixed;
    display: flex;
    overflow: auto;
  }

  .auth-choice button{
    margin-top: 20px;
    width: 20vw;
    height: 5vh;
    border-radius: 10%;
    background-color: rgb(224, 217, 217);
  }

  .App-header{
    position: fixed;
    width: 100vw;
    height: auto;
    max-height: 40vh;
    z-index: 1;
    margin: 0;
    border-bottom: 5px dotted white;
  }
  .header{
    background-color: var(--main-bg-color);
    width: 100vw;
    height: auto;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;

  }
  .logo{
    font-size: medium;
    color: white;
    /* tells what animation to use */
    /* animation-name: spin;
    /* tell how long to run animation */
    /* animation-duration: 2s;
    /* specify how many times the animation should run */
    /* animation-iteration-count: infinite; */
    /* we can change the animations direction */
    /* animation-direction:alternate; */
    /* we can smooth our animations */
    /* animation-timing-function: linear; */ 
  }
  .nav-menu button{
    position: relative;
    display: flex;
    justify-content: space-around;
    width:80px;
    height: 50px;
    border: black 10px;
    color: black;
    background-color:white;
    border-radius: 5px;
  }

  .main-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--main-bg-color);
  }

  .home-section{
    padding-top: 20vh;
    width: 100vw;
    height: 100%;
    overflow-y:auto;
    margin-bottom: 90px;
    background-color: var(--main-bg-color);
  }

  .individual-item{
  border-radius: 30px;
  
  }

  .individual-item img{
    border-radius: 30px 30px 0px 0px;
  }

  .item-title-text{
    margin: 0 auto;
  }

  .item-price{
    margin: 0 auto;
  }

  .view-item-section{
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20vh;
    width: 100vw;
    height: 100%;
    overflow-y:auto;
    margin-bottom: 90px;
    background-color: var(--main-bg-color);

    /* position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    width: 100vw;
    height: auto;
    overflow-y:auto;
    margin-bottom: 90px;
    background: var(--main-bg-color);
    background-size: fill;
    padding-bottom: 15vh; */
  }

  /* .name-price-description{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  } */

  .view-item-section img{
    /* display: flex;
    align-items: center; */
    margin: 0 auto;
    margin-top: 10px;
  }

  .view-item-main-img{
    width: 300px;
    height: auto;
  }

  /* .view-item-section div{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
  } */

  .view-item-description{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
  }

  .quantity{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .quantity button{
    margin-left: 5px;
    margin-right: 5px;
  }

  section{
    background: rgb(229, 182, 233);
  }

  h2{
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth{
    padding-top: 20vh;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
  }

  .input-auth {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  input{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .submit-button{
    position: fixed;
    display: flex;
    width: 50vw;
    height: 5vh;
    bottom: 0;
    right: 25%;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
  }

  .auth-button{
    display: flex;
    width: 50vw;
    height: 10vh;
    margin-top: 10vh;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .edit-item-button{
    width: 60vw;
    height: 10vh;
    margin: 0 auto;
  }

  .cart{
    padding-top: 20vh;
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    padding-bottom: 25%;
  }

  .cart-article-section{
    display: flex;
    flex-direction: column;
  }

  .cart-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .cart-img{
    width: 100vw;
    height: auto;
  }


  .cart article img{
    width: 95vw;
    margin-right: 5%;
  }

  .add-item-section{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;

  }

  .select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .description-div{
    display: inline-flex;

  }

  .input-description{
    width: 80vw;
    height: 40px;
    align-self: center;
  }

  select{
    width: 70vw;
    margin: 0 auto;
  }

}

/* TABLETS/ IPADS */
@media (min-width: 481px){
  .header{
    background-color: rgb(194, 44, 89);

  }
}

/* SMALL SCREENS - small LAPTOPS */
@media (min-width: 769px){
  .header{
    background-color: rgb(71, 192, 87);
  }
}

/* Large Screens - Laptops Desktops/Monitors  TESTING FUN  and (max-width: 1200px)  MAYBE NEED THIS <=*/
@media (min-width: 1025px){
  .header{
    background-color:var(--main-bg-color);
  }

  .logo{
    font-size: 35px;
    align-self: center;
    margin-bottom: 0px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .individual-item{
    width: 275px;
    height: 275px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: normal;
    background-color: white;
    /* padding: 10px; */
    margin: 40px;
  }

  .individual-item:hover{
    border: 2px solid white;
    transform: scale(1.1);

  }

  .individual-item span{
    font-size: 20px;
    font-family: 'Lucida Sans';
    font-style: italic;
  }

  .nav-menu button{
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width:150px;
    height: 60px;
    border: white 1px;
    color: black;
    background-color:white;
    border-radius: 5px;
  }

  .nav-menu button:hover{
    border-style: groove;
  }

  .add-item-section img{
    width: 400px;
    height: 300px;
  }

  .mini-pic{
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 10px;
    width: 350px;
    height: auto;
    margin-bottom: 20px;
  }

  .view-item-main-img{
    width: 500px;
    height: auto;
  }

  .view-item-section .submit-button{
    width: 200px;
    height: 50px;
    position: fixed;
    right:    0;
    bottom:   0;
  }

  .edit-item-section{
    padding-top: 20vh;
  }

  .add-item-section{
    padding-top: 25vh;
    width: 100vw;
    overflow: auto;
    content: contain;
  }

  .add-item-section .submit-button{
    width: 200px;
    height: 50px;
    position: fixed;
    right:    0;
    bottom:   0;
  }

  .add-item-img{
    width: 100vw;
    height: auto;
  }

  .edit-item-section .submit-button{
    width: 200px;
    height: 50px;
    position: fixed;
    right:    0;
    bottom:   0;
  }

  .view-item-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20vh;
    width: 100%;
    height: fit-content;
    background: var(--main-bg-color);
    background-size: fill;
  }

  .view-item-section select{
    width: auto;
    display: flex;
    align-self: center;
  }

  .input-auth {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .auth-button{
    width: 200px;
    height: 75px;
  }

  .auth-choice{
    margin-top: 20px;

  }

  .auth-choice button{
    width: 100px;
    height: 40px;
    background-color: rgb(224, 217, 217);
  }

  .view-item-description{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
  }

  .view-item-section h2{
    display: inline-flex;
    justify-content: center;
  }

  .view-item-price{
    padding-left: 20px;
  }

  .quantity{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .edit-item-button{
    width: 80px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .cart{
    padding-top: 20vh;
    width: 90%;
    background-color: var(--main-bg-color);
  }

  .cart-article-section{
    display: flex;
    flex-direction: column;
  }

  .cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    align-items: center;
  }

  .cart-item p{
    font-size: 25px;
    font-style: italic;
  }

  .cart-item-price{
    font-style: bold;
    font:italic;

  }

  footer {
    position: relative;
    float: right;

  }
  .clear-btn{
    margin-bottom: 20px;
  }

  .cart-img{
    /* position: relative;
    display: flex;
    justify-content: left; */
    margin-left: 0;
    transform: scale(.3);
  }


  .cart article img{
    width: 500px;
  }

  #item-img-added {
    visibility: hidden; /* Hidden by default. Visible on click */
    
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #item-img-added.show {
    visibility: visible; /* Show the snackbar */
  }

  

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

