.App {
  display: flex;
  flex-direction: column; 
}

.App-header {
  background-color: rgb(230, 146, 238);
  width: 100%;
  height: 10vh;
  font-family: fantasy;
  font-size: x-large;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section{
  position:relative;
  width: 100%;
  height: 90vh;
  background: rgb(229, 182, 233);
  
  /* border-right: 1px solid black; */
}

header {
  width: 100vw;
  height: 10vh;
  background-color: pink;
  align-items: center;
}

.item-list {
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: rgb(161, 133, 158);
  /* background-image: url("https://m.media-amazon.com/images/I/71Fvd7Cx4CL._AC_SL1134_.jpg"); */
  background-repeat: no-repeat;
  background-size:cover;
}

.individual-item{
  width: 200px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: normal;
  /* padding: 10px; */
  margin: 50px;
}
