.App {
  display: flex;
  flex-direction: column; 
}

.App-header {
  background-color: rgb(230, 146, 238);
  width: 100%;
  height: 10vh;
  font-family: fantasy;
  font-size: x-large;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section{
  position:relative;
  width: 100%;
  height: 90vh;
  background: rgb(229, 182, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* border-right: 1px solid black; */
}

.header {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  margin-left: 20px;
  font-size: xx-large;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20px;
  
}

/* all buttons under the nav */
nav button{
  background-color: rgb(236, 224, 152);
  height: 50px;
  width: 100px;
  margin-right: 20px;
}

.item-list {
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: rgb(161, 133, 158);
  /* background-image: url("https://m.media-amazon.com/images/I/71Fvd7Cx4CL._AC_SL1134_.jpg"); */
  background-repeat: no-repeat;
  background-size:cover;
}

.individual-item{
  width: 200px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: normal;
  background-color: white;
  /* padding: 10px; */
  margin: 50px;
}

img {
  /* position: relative; */
  /* display: inline-block; */
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 90 / 99;
}

.size-price {
  display: flex;
  flex-direction: row;
}

.size-price button {
  float: right;
}
